USE [ProVistaGalliot20260708]
GO
/****** Object:  StoredProcedure [dbo].[sp_054]    Script Date: 11/08/2026 4:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC  [dbo].[sp_054]
@FromDate date,
@ToDate DATE,
@type TINYINT,
@user VARCHAR(10),
@typemoney VARCHAR(20),
@sortType CHAR(4)
 as
BEGIN
		declare @prefix varchar(20) = (select  top 1 isnull(PrefixBookingId,'') from sp1322)
		declare @division varchar(20) = (select  top 1 isnull(Division,'') from sp1322)
		SELECT	case when hd.BillId is null then 'No Charge' else 'Charge' end AS RoomType,
				pt.Room,
				@prefix + cast(bl.BookingId as varchar(20)) as BookingId,
				dk.BookingName,
				ct.Company,
				dk.BookingDate,
				pt.ArrivalDate,
				pt.NumOfDays,
				pns.NoshowDate,
				pns.NoshowTime,
				bl.Total,
				pns.Username,
				pns.Ca,
				pns.Reason,
				bl.Date,
				pt.Ma,
				@division as Division
				FROM SP4000 pns
					INNER JOIN SP2100 pt ON pns.Ma= pt.Ma 
					LEFT JOIN (SELECT * FROM dbo.func_052(@FromDate,@ToDate,'')WHERE ServiceId='RM') AS bl ON  pt.Ma = bl.RentalRoomId
					LEFT JOIN (SELECT BillId, RentalRoomId1, dv.Date FROM SP3000 dv inner JOIN SP3004 hd ON hd.BillId = dv.Ma and dv.Edit = 0 and hd.IsRoomNight = 1 and dv.ServiceId = 'RM'
					) hd ON hd.RentalRoomId1 = pt.Ma AND bl.Date = hd.Date
					LEFT JOIN SP2000 dk ON dk.Ma = pt.BookingId
					LEFT JOIN SP1302 ct ON dk.TravelAgency = ct.Ma
				WHERE 
					((convert(date,pns.NoshowDate) BETWEEN  @FromDate AND @ToDate) OR (bl.Date BETWEEN @FromDate AND @ToDate))
					AND dk.Ma IS NOT NULL AND bl.Date IS NOT NULL AND pns.NoshowDate IS NOT NULL
					AND (@type IN ('2', '1') OR hd.BillId IS NOT NULL)
					AND (@type IN ('2', '0') OR hd.BillId IS NULL)
					AND pt.Status=4
					AND pt.Username like '%'+@user+'%'  
				ORDER by case when @sortType = 'ASC' then NoshowDate end asc,
				case when @sortType = 'DESC' then NoshowDate end desc
    
END



