USE [ProVistaGalliot20260708]
GO
/****** Object:  StoredProcedure [dbo].[sp_054_Division]    Script Date: 11/08/2026 4:25:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER     PROCEDURE [dbo].[sp_054_Division](
	@Division int =0,
	@FromDate date,
	@ToDate DATE,
	@type TINYINT,
	@user VARCHAR(10),
	@typemoney VARCHAR(20),
	@sortType CHAR(4),
	@ListDivision varchar(200) = ''
)
--WITH ENCRYPTION
AS
BEGIN
	--Tính khoảng ngày ở min max khoảng ngày ở của nhưng Booking đăng ký trong khoảng @StartDATE - @EndDATE

	--declare @StartDATE DateTime = '2023/01/01'
	--declare @EndDATE DateTime = '2023/01/01'
	declare @NameDivision varchar(200) = (select Value from SP1600 where Parameter = 'ConfigDataReportForChain')

	if (@ListDivision != '')
		set @NameDivision = @ListDivision

	declare @Database varchar(50) = ''
	declare @Sql nvarchar(max)=''

					Create table #table(
					RoomType varchar(10),
					Room varchar(10),
					BookingId nvarchar(20),
					BookingName nvarchar(200),
					Company nvarchar(500),
					BookingDate datetime,
					ArrivalDate datetime,
					NumOfDays int,
					NoshowDate datetime,
					NoshowTime char(5),
					Total decimal,
					Username varchar(20),
					Ca char(1),
					Reason nvarchar(200),
					Date datetime,
					Ma varchar(10),
					Division varchar(20))


if(@Division = 0)
	BEGIN
			insert into #table
			exec sp_054 @FromDate, @ToDate, @type, @user, @typemoney, @sortType

			select * from #table
	END
else

	BEGIN
		Declare cursorDatabase CURSOR FOR
			select  data from dbo.func_061(@NameDivision,',')
		Open cursorDatabase
		Fetch next From cursorDatabase
					into @Database
		While @@FETCH_STATUS = 0
			Begin
									--insert into #table
									--exec sp_246 @StartDATE,@EndDATE, @showCancel
									set @Sql = ' use ['+@Database+']
									insert into #table
									exec sp_054 '''+format(@FromDate,'yyyy/MM/dd')+''','''+format(@ToDate,'yyyy/MM/dd')+''','''+ (case when cast(@type as varchar(10)) = '0' then '' else cast(@type as varchar(10)) end) + ''','''+ @user +''','''+ @typemoney +''','''+ @sortType +''''
							exec (@Sql)
							print (@Sql)
							Fetch next From cursorDatabase
							into @Database 
						End

					Close cursorDatabase
					Deallocate cursorDatabase

					select * from #table


	END
	

	drop table #table
					
END
