USE [ProVistaGalliot20260708]
GO
/****** Object:  StoredProcedure [dbo].[sp_111]    Script Date: 11/08/2026 4:23:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER     proc [dbo].[sp_111](
@fdate date ,
@tdate date
)
 as
begin

	declare @prefix varchar(50) = (select PrefixBookingId from SP1322) 

	select ROW_NUMBER() over(order by k.Id) as No,
	@prefix + cast(pt.BookingId as varchar) as Booking,
	pt.Room as Room, k.FirstName as GuestName,
	k.Birthday as Birthday, gt.Name as IndentityPaper, k.Passport, k.Email, 
	k.Phone as Phone, k.Nationality as Nationality, pt.ArrivalDate as Arrival, 
	pt.CheckoutDate as Departure, pt.ActualNumOfDays as RoomNights, pt.Rate as Rate,
	pt.RoomRateCode as RateCode, ct.Company as TravelAgency
	from SP2300 k
	left join SP2200 ptk on ptk.CustomerId = k.Id
	left join SP2100 pt on pt.Ma = ptk.RentalRoomId
	left join SP8055 gt on gt.Id = k.KindOfPaper
	left join SP2000 dk on dk.Ma = pt.BookingId
	left join SP1302 ct on ct.Ma = dk.TravelAgency
	where concat(Month(k.Birthday), DAY(k.Birthday)) between concat(Month(@fdate), DAY(@fdate))
	and concat(Month(@tdate), DAY(@tdate))
	and concat(Month(k.Birthday), DAY(k.Birthday)) between concat(Month(pt.ArrivalDate), DAY(pt.ArrivalDate))
	and concat(Month(pt.CheckoutDate), DAY(pt.CheckoutDate))
	and pt.Status in (0,1)

end

