USE [ProVistaGalliot20260708]
GO
/****** Object:  StoredProcedure [dbo].[sp_141]    Script Date: 11/08/2026 4:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--sp_141 '2023/04/19','2023/04/22'
ALTER      proc [dbo].[sp_141](
@fdate date ,
@tdate date
)
 as
begin
	
	declare @prefix varchar(50) = (select PrefixBookingId from SP1322) 

	select  ROW_NUMBER()  OVER (ORDER BY dk.ConfirmDate desc ) as No,@prefix+cast(dk.Ma as varchar) as BKK , dk.BookingName as BookingName, ttdk.BookingStatusName as Status,
	dk.BookingCode, dk.ArrivalDate as Arrival, dk.ArrivalDate+dk.NumOfDays as Departure, dk.NumOfDays as Nights,
	--pt.RoomRateCode as RateCode,
	ct.Company as Company, dk.Status as StatusRoom, 
	ttdk.IsAvailability , ttdk.BKDefinite, dk.Contact as Contact, dk.ConfirmDate as Confirm, isnull(dp.Deposite,0) as Deposite,
	dk.BookingStatus as StatusBK, format(dk.ConfirmDate,'ddMMyyyy') as [Group], dk.Pack1 as Note, dk.Ma as BookingId
	from SP2000 dk 
	/*left join ( select STRING_AGG(Room,',') as Room,BookingId , ArrivalDate,
					CheckoutDate, RoomRateCode, NumOfDays, Status
				from SP2100 where BookingId is not null 
				group by BookingId, ArrivalDate, CheckoutDate, 
						RoomRateCode, NumOfDays, Status
				) pt on dk.ma = pt.BookingId*/
	left join SP1311 ttdk on dk.BookingStatus = ttdk.BookingStatusId
	left join SP1302 ct on dk.TravelAgency = ct.Ma
	left join (select Sum(Amount) as Deposite,RegisterId2 from Sp3002
				where Pack2 = 'DPR' and Edit = 0
				group by RegisterId2) as dp on dp.RegisterId2 = dk.Ma
	Where (
	(
	(dk.ConfirmDate between @fdate and @tdate and ttdk.IsAvailability=1 and (ttdk.BKDefinite is null or ttdk.BKDefinite !=1)) 
	or (dk.ConfirmDate < @fdate and dk.Status=0 and ttdk.IsAvailability=1 and ttdk.BKDefinite !=1))  
	or (ttdk.IsAvailability !=1 and dk.Status=0)
	)
	--and pt.NumOfDays != 9999
	and dk.Status = 0
order by dk.ConfirmDate desc
end

