USE [ProVistaGalliot20260708]
GO
/****** Object:  StoredProcedure [dbo].[sp_143]    Script Date: 11/08/2026 4:27:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER     proc [dbo].[sp_143](
@fdate date 
)
 as
begin
	
	declare @prefix varchar(50) = (select PrefixBookingId from SP1322) 

	select 
	@prefix + cast(pt.BookingId as varchar) as BookingId,
	dk.BookingStatus, 
	dk.BookingName,
	ttdk.BookingStatusName as NameStatusBooking,
	pt.Status as StatusRentalRoom, 
	ttpt.English as NameStatusRentalRoom,
	dk.Status ,
	pt.Ma as RoomId, 
	pt.Room as NumOfRoom,
	pt.ArrivalDate,
	pt.CheckoutDate as DepartureDate, 
	pt.ActualNumOfDays,
	pt.Rate as Rate, 
	pt.RoomRateCode as RateCode,
	pt.Adult, 
	pt.Child, 
	dk.Note as NoteBooking,ct.Company,
	isnull(tt.Amount,0) as TotalServices,
	isnull(tt1.Amount,0) as TotalServicesBK, 
	isnull(pm.Amount,0) as Payment, 
	isnull(pm2.Amount,0) as PaymentBK
	from SP2100 pt
		join vw_001 dk on pt.BookingId = dk.ma
		left join SP1309 ttpt on ttpt.Ma = pt.Status
		left join SP1302 ct on ct.Ma = dk.TravelAgency
		left join SP1311 ttdk on ttdk.BookingStatusId = dk.BookingStatus
		left join ( SELECT Sum(Amount) as Amount,RentalRoomId2
					FROM vw_018
					where Edit = 0 and RentalRoomId2 is not null
					group by RentalRoomId2
					) as tt on tt.RentalRoomId2 = pt.Ma
		left join ( SELECT Sum(Amount) as Amount,RegisterID2
					FROM vw_018
					where Edit = 0 and RegisterID2 is not null
					group by RegisterID2
					) as tt1 on tt1.RegisterID2 = pt.BookingId
		left join (SELECT RentalRoomId2 , SUM(Amount) as Amount
					FROM vw_025
					where Edit = 0 and RentalRoomId2 is not null
					group by RentalRoomId2
					) as pm on pm.RentalRoomId2 = pt.Ma
		left join (SELECT RegisterID2 , SUM(Amount) as Amount
					FROM vw_025
					where Edit = 0 and RegisterID2 is not null
					group by RegisterID2
					) as pm2 on pm2.RegisterID2 = pt.BookingId
	where isnull(pt.Room, '') not like '0%' and pt.CheckoutDate = @fdate and pt.Status = 1

end

