USE [ProVistaGalliot20260708]
GO
/****** Object:  StoredProcedure [dbo].[sp_147]    Script Date: 11/08/2026 4:37:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER       proc [dbo].[sp_147](
@fdate date
)
 as
begin
	
	declare @prefix varchar(50) = (select PrefixBookingId from SP1322) 

	;with SpecialRequest as (
		select string_agg(SpecialRequest, ', ') SpecialRequest, RentalRoomId from SP2107
		left join SP1325 on SP2107.Id = SP1325.Id
		group by RentalRoomId
	)
	select 
	@prefix + cast(pt.BookingId as varchar) as BookingId,
	pt.BookingId as BookingIdNum,
	dk.BookingStatus, 
	dk.BookingName,
	ttdk.BookingStatusName as NameStatusBooking,
	pt.Status as StatusRentalRoom, 
	ttpt.English as NameStatusRentalRoom,
	dk.Status ,
	pt.Ma as RoomId, 
	pt.Room as NumOfRoom,
	pt.ArrivalDate,
	pt.CheckoutDate as DepartureDate, 
	pt.ActualNumOfDays,
	pt.Rate as Rate, 
	pt.RoomRateCode as RateCode,
	pt.Adult, 
	pt.Child, 
	dk.Note as NoteBooking,ct.Company,
	isnull(tt.Amount,0) as TotalServices,
	isnull(tt1.Amount,0) as TotalServicesBK, 
	isnull(pm.Amount,0) as Payment, 
	isnull(pm2.Amount,0) as PaymentBK,
	sp.SpecialRequest
	into #tempResult
	from SP2100 pt
		join vw_001 dk on pt.BookingId = dk.ma
		left join SP1309 ttpt on ttpt.Ma = pt.Status
		left join SP1302 ct on ct.Ma = dk.TravelAgency
		left join SpecialRequest sp on sp.RentalRoomId = pt.Ma
		left join SP1311 ttdk on ttdk.BookingStatusId = dk.BookingStatus
		left join ( SELECT Sum(Amount) as Amount,RentalRoomId2
					FROM vw_018
					where Edit = 0 and RentalRoomId2 is not null
					group by RentalRoomId2
					) as tt on tt.RentalRoomId2 = pt.Ma
		left join ( SELECT Sum(Amount) as Amount,RegisterID2
					FROM vw_018
					where Edit = 0 and RegisterID2 is not null
					group by RegisterID2
					) as tt1 on tt1.RegisterID2 = pt.BookingId
		left join (SELECT RentalRoomId2 , SUM(Amount) as Amount
					FROM vw_025
					where Edit = 0 and RentalRoomId2 is not null
					group by RentalRoomId2
					) as pm on pm.RentalRoomId2 = pt.Ma
		left join (SELECT RegisterID2 , SUM(Amount) as Amount
					FROM vw_025
					where Edit = 0 and RegisterID2 is not null
					group by RegisterID2
					) as pm2 on pm2.RegisterID2 = pt.BookingId
	where isnull(pt.Room, '') not like '0%' and pt.ArrivalDate = @fdate and pt.Status in (0)

	select RentalRoomId, sum(Total) Total
	into #tempBalance
	from func_052((select min(ArrivalDate) from #tempResult), (select max(DepartureDate) from #tempResult), '')
	group by RentalRoomId

	select RegisterID2, sum(Amount) Amount
	into #tempDeposit 
	from sp3002 
	where RegisterID2 in (select BookingIdNum from #tempResult) and Pack2 = 'DPR' and edit = 0
	group by RegisterID2

	select temp.*, isnull(balance.Total, 0)  as TotalServiceRoom, isnull(deposit.Amount, 0) as TotalDepositBooking from #tempResult temp
	left join #tempBalance balance on temp.RoomId = balance.RentalRoomId
	left join #tempDeposit deposit on temp.BookingIdNum = deposit.RegisterID2

	drop table #tempResult
	drop table #tempBalance
	drop table #tempDeposit
end

