USE [ProVistaGalliot20260708]
GO
/****** Object:  StoredProcedure [dbo].[sp_245]    Script Date: 31/07/2026 10:55:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec sp_245 '20250429', '20250430', ''

ALTER     proc [dbo].[sp_245](@fDate date, @tDate date,@RoomType int, @Save int = 0, @CompanyId int = 0)
as
begin

--DECLARE @fDate DATE = '2022/12/16' , @tDate DATE = '2022/12/20',@RoomType int = '',@Save int = 0
declare @Revenue varchar(50) = (select Value from SP1600 where Parameter = 'Revenue')
declare @averageRoomRateIncludedOthersRoomRevenue char(1) = (select isnull(Value, 0) from SP1600 where Parameter = 'AverageRoomRateIncludedOthersRoomRevenue')

--if (@averageRoomRateIncludedOthersRoomRevenue = 0)
--	set @Revenue = 'RM'

select top (DATEDIFF(day, @fDate,@tDate)+1)
DATEADD(day,row_number() over (order by a.object_id) -1, @fDate)  as [Date], 0 as OOO, 0 as RoomAvailable , 0 as NoOfNight, 0 as ADR,
0 as Rev, CAST(0 as decimal(18,4)) as [% on Rev], CAST(0 as decimal(18,4)) as [%OCC]
into #tempDate
from sys.all_objects a cross join sys.all_objects b;

select bl.* into 
#tempBalanceRev 
from dbo.func_054(@fDate,@tDate,'') bl
left join vw_001 vw on vw.Ma = bl.BookingId 
where ServiceId in(select Data from dbo.func_061(@Revenue, ',')) and (@CompanyId = 0 or vw.TravelAgency = @CompanyId)

select bl.* into 
#tempBalance 
from #tempBalanceRev bl
join vw_001 vw on vw.Ma = bl.BookingId 
and IsAvailability = 1

-- RoomNight
select RoomType , count(*) as NoOfNight, Date
into #tempRoomNight
from #tempBalance bl
left join SP2100 pt on pt.Ma = bl.RentalRoomId 
where IsRoomNight = 1 
group by RoomType, Date

-- HU
select RoomType , count(*) as HU
into #tempHouseUse
from #tempBalance bl
left join SP2100 pt on pt.Ma = bl.RentalRoomId
where IsRoomNight = 1 and pt.RoomRateCode = 'HU'
group by RoomType

--Revenue
select Date, RoomType , 0 as NoOfNight, SUM(Total) as Rev
into #tempRevenue
from  #tempBalanceRev bl
left join SP2100 pt on pt.Ma = bl.RentalRoomId
group by Date, RoomType

--RoomRevenue
select Date, RoomType , 0 as NoOfNight, SUM(Total) as Rev
into #tempRoomRevenue
from  #tempBalanceRev bl
left join SP2100 pt on pt.Ma = bl.RentalRoomId
where ServiceId = 'RM'
group by Date, RoomType

--Update RoomNight
update #tempRevenue set NoOfNight = #tempRoomNight.NoOfNight
from #tempRoomNight
where #tempRoomNight.RoomType = #tempRevenue.RoomType and #tempRoomNight.Date = #tempRevenue.Date



--Add Booking Revenue
if(@RoomType = '')
	begin
		insert into #tempRevenue
		select Date, -1 , 0, sum(Amount) as Rev
		from SP3000 
		where RentalRoomId1 is null 
				and RentalRoomId2 is null 
				and RegisterId2 is not null 
				and Date between @fDate and @tDate
				and ServiceId in(select Data from dbo.func_061(@Revenue, ','))
				and (@CompanyId = 0 or CompanyId2 = @CompanyId)
				and Edit = 0
		group by Date

		insert into #tempRoomRevenue
		select Date, -1 , 0, sum(Amount) as Rev
		from SP3000 
		where RentalRoomId1 is null 
				and RentalRoomId2 is null 
				and RegisterId2 is not null 
				and Date between @fDate and @tDate
				and ServiceId in('RM')
				and (@CompanyId = 0 or CompanyId2 = @CompanyId)
				and Edit = 0
		group by Date
	end


select lp.ShortName as RoomTypeCode, lp.RoomType as RoomType, 
COUNT(*) as Inventory, lp.Ma as RoomTypeId
into #tempRoom
from SP1000 p
left join SP1100 lp on lp.Ma = p.RoomTypeId
left join SP1200 dp on dp.Ma = p.KindRoomId

where p.Ma not like '0%' and (@RoomType = '' or lp.Ma = @RoomType ) and lp.IsDayUse = 1
group by lp.ShortName, lp.RoomType, lp.Ma

select * 
into #tempData
from #tempDate,#tempRoom


--update #tempData set Inventory = isnull((select Inventory from SP7005 B where B.Date = #tempData.Date and B.RoomTypeCode = #tempData.RoomTypeCode and B.RoomType = #tempData.RoomType),#tempData.Inventory)

update #tempData set OOO = dbo.func_058(RoomTypeId,Date) 

update #tempData set OOO = isnull((select OOO from SP7005 B where B.Date = #tempData.Date and B.RoomTypeCode = #tempData.RoomTypeCode and B.RoomType = #tempData.RoomType),#tempData.OOO)

update #tempData set RoomAvailable = Inventory - OOO

update #tempData set NoOfNight = isnull((select NoOfNight from #tempRevenue where Date = #tempData.Date and RoomType = #tempData.RoomTypeId),0)

update #tempData set Rev = isnull((select Rev from #tempRevenue where Date = #tempData.Date and RoomType = #tempData.RoomTypeId),0)



select RoomType, cast(RoomTypeCode as varchar(100)) as RoomTypeCode, 
Sum([Inventory]) as [Inventory],
Sum([OOO]) as [OOO],
Sum([RoomAvailable]) as [RoomAvailable],
Sum([NoOfNight]) as [NoOfNight],
0 as ADR, 
Sum([Rev]) as [Rev],
cast(0 as decimal(18,4)) as [% on Rev], 
cast(0 as decimal(18,4)) as [%OCC]
into #tempResult
from (	select * from #tempData
		union all
		select Date,0,0,0,0,isnull(sum(Amount),0) as Rev,0,0,'','Booking Revenue', 0, 0
		from SP3000 
		where RentalRoomId1 is null 
				and RentalRoomId2 is null 
				and RegisterId2 is not null 
				and Date between @fDate and @tDate
				and ServiceId in(select Data from dbo.func_061(@Revenue, ','))
				and (@CompanyId = 0 or CompanyId2 = @CompanyId)
				and Edit = 0
				and Amount is not null
		group by Date

	) as A
Where (@RoomType = '' or RoomType!='Booking Revenue' )
group by RoomType, RoomTypeCode

--select * from #tempResult
--select * from #tempRoomRevenue


declare @TotalRev decimal(18,2) = isnull((select SUM(Rev) from #tempResult),0) 
declare @RoomAV  int = isnull((select SUM(RoomAvailable) from #tempResult),0) 

update temp set ADR = isnull((case when @averageRoomRateIncludedOthersRoomRevenue = 0 then RoomRev else Rev end), 0) / (case when (NoOfNight - isnull(HU, 0)) = 0 then 1 else (NoOfNight - isnull(HU, 0)) end)
from #tempResult temp
left join sp1100 lp on temp.RoomTypeCode = lp.ShortName
left join (select RoomType, sum(Rev) RoomRev from #tempRoomRevenue group by RoomType) room on room.RoomType = lp.Ma
left join #tempHouseUse hu on hu.RoomType = room.RoomType

update #tempResult set [% on Rev] =  Rev / (case when @TotalRev = 0 then 1 else @TotalRev end)

update #tempResult set [%OCC] = cast(NoOfNight as decimal(18,4)) / (case when @RoomAV = 0 then 1 else @RoomAV end)

if(@Save = 1)
	begin
		insert into SP7005
		select *,@fDate from #tempResult
	end
else
	begin
		select temp.*, isnull(hu.HU, 0) HU from #tempResult temp
		left join SP1100 lp on temp.RoomTypeCode = lp.ShortName
		left join #tempHouseUse hu on hu.RoomType = lp.Ma
		order by lp.Orders
	end


drop table #tempDate
drop table #tempRoom
drop table #tempData
drop table #tempBalance
drop table #tempResult
drop table #tempRevenue
drop table #tempRoomRevenue
drop table #tempRoomNight
drop table #tempBalanceRev
drop table #tempHouseUse

end
