USE [ProVistaGalliot20260708]
GO
/****** Object:  StoredProcedure [dbo].[sp_027]    Script Date: 31/07/2026 11:11:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER   PROCEDURE [dbo].[sp_027]
	
	@FromDate date
 as
BEGIN	
	declare @division nvarchar(50) 
	select @division = LOWER(Value) from SP1600 where Parameter = 'RevenueDivision'	
	
	
	insert into SP7003  
	exec sp_023 @FromDate, @FromDate, @division, 1, 0

END

