USE [ProVistaGalliot20260708]
GO
/****** Object:  StoredProcedure [dbo].[sp_148]    Script Date: 31/07/2026 11:10:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	--sp_148 '2022/12/07','2022/12/08','1'
	--exec sp_148 '2022/12/06', '2022/12/06', 1

ALTER proc [dbo].[sp_148](
	@From date,
	@To date,
	@IsTuongLai int = 0
)
 as
begin
	declare @ERRevenue varchar(50) = (select Value from SP1600 where Parameter = 'RevenueER')
	declare @Revenue varchar(50) = (select Value from SP1600 where Parameter = 'Revenue')
	declare @FOCBaoGom varchar(5) = (select Value from SP1600 where Parameter = 'FOCBaoGomCompliment')
	declare @Quantity decimal(18,2), @ArrivalDate as date, @DepartureDate as date, @OpenTimeOOO time

	set @OpenTimeOOO = (select cast(Value as time) from SP1600 where Parameter = 'FrmOOO_DefineLockByTime')
	declare @averageRoomRateIncludedOthersRoomRevenue char(1) = (select isnull(Value, 0) from SP1600 where Parameter = 'AverageRoomRateIncludedOthersRoomRevenue')

	--Kiểm tra ngày hoạt động
	declare @operationDate varchar(15) = (select Value from SP1600 where Parameter = 'operationdate')
	if(isnull(@operationDate,'')!='' )
	begin
			declare @date date = cast(@operationDate as date) 
			if(@From < @date)
				set @From = @date
	end

	create TABLE #temp
	(
		[Name] nvarchar(50),
		[Date] date,
		[func_002] int,
		[RoomOOO] int,
		[RAV] int
	)

	--Total Room
	--dựng ngày ảo
	insert into #temp(Name,Date,func_002,RoomOOO, RAV)
	select top (DATEDIFF(day, @From,@To)+1) 'Total Room',
	DATEADD(day,row_number() over (order by a.object_id) -1, @From),0, 0, 0
	from sys.all_objects a cross join sys.all_objects b;
	


	update #temp set RoomOOO = (select sum(Quantity) from dbo.func_003 (#temp.Date,#temp.Date)) 

	update #temp set func_002 = dbo.func_002(#temp.Date,#temp.Date)

	update #temp set RAV = func_002 - RoomOOO


	---Tổng doanh thu phòng
	select A.*, isnull(bk.Salesperson, '') Salesperson, isnull(bk.MarketSegment, '') MarketSegment,bk.SourceCode SourceCode, SP1302.Ma CompanyId, SP1302.Company, isnull(SP1000.Area, 1) Area ,IsAvailability
	into #ServiceTotal
	from func_054(@From, @To, '') A 
		inner join vw_001 bk on A.BookingId = bk.Ma 
		inner join SP1302 on bk.TravelAgency = SP1302.Ma 
		inner join SP2100 on SP2100.Ma = A.RentalRoomId 
		left join SP1000 on SP1000.Ma = SP2100.Room 
	where --bk.IsAvailability = 1 and 
		  ServiceId in(select Data from dbo.func_061(@Revenue, ','))
	union all
	-----Tổng doanh thu nhóm
	select '' as RentalRoomId, RegisterId2 , SP3000.Ma as BillIdService, ServiceId, null as RoomRateCode, 
			Date, 0 as Quantity,SUM(Amount) Total, null as IsRoom, null as DetailId, DepartmentId,
			null as IsRoomNight, '' as VoucherCode, '' as Promotion, isnull(SalesPerson, '') Salesperson, isnull(SP2000.MarketSegment, '') MarketSegment,
			SP2000.SourceCode, TravelAgency CompanyId, SP1302.Company , 1 as Area, IsAvailability
	from SP3000 
	inner join SP2000 on RegisterId2 = SP2000.Ma
	inner join (select Ma, IsAvailability from vw_001) bk on RegisterId2 = bk.Ma 
	inner join SP1302 on SP1302.Ma = SP2000.TravelAgency
	where RentalRoomId1 is null 
	and RentalRoomId2 is null 
	and RegisterId2 is not null 
	and Edit = 0
	and Date between @From and @To
	and (ServiceId in(select Data from dbo.func_061(@Revenue, ',')) or ServiceId in (select Data from dbo.func_061(@ERRevenue, ','))) 
	group by RegisterId2, Date, SP3000.Ma,ServiceId, TravelAgency, Salesperson, SP2000.MarketSegment, SP2000.SourceCode,
				DepartmentId, SP1302.Company, IsAvailability


	--HU
	select Date, CompanyId, MarketSegment, SourceCode, Salesperson, Area, COUNT(*) as Total
	into #HU
	from #ServiceTotal
	where isnull(RoomRateCode,'') = 'HU' and IsAvailability = 1
	group by Date, CompanyId, Company, MarketSegment, SourceCode,
	Salesperson, Area

	--FOC
	select Date, CompanyId, MarketSegment, SourceCode, Salesperson, Area, COUNT(*) as Total
	into #FOC
	from #ServiceTotal
	where isnull(RoomRateCode,'') = 'FOC' or (Total = 0 and isnull(RoomRateCode,'') !='HU' ) and IsAvailability = 1
	group by Date, CompanyId, Company, MarketSegment, SourceCode,
	Salesperson, Area

	--RM
	select #ServiceTotal.Date, #ServiceTotal.CompanyId, #ServiceTotal.MarketSegment, SourceCode,Salesperson, Area, SUM(#ServiceTotal.Total) as Total
	into #RM
	from #ServiceTotal
	where isnull(ServiceId,'') = 'RM'
	group by #ServiceTotal.Date, CompanyId, MarketSegment, SourceCode,
	Salesperson, Area

	update #RM set #RM.Total = #RM.Total - rev.Total
	from #RM inner join (select #ServiceTotal.Date, CompanyId, MarketSegment, SourceCode,Salesperson, Area, SUM(#ServiceTotal.Total) as Total
	from #ServiceTotal
	where isnull(ServiceId,'') = 'RM' and IsAvailability = 0
	group by #ServiceTotal.Date, CompanyId, MarketSegment, SourceCode,
	Salesperson, Area) rev on rev.Date = #RM.Date and rev.CompanyId = #RM.CompanyId and rev.MarketSegment = #RM.MarketSegment and rev.SourceCode = #RM.SourceCode and rev.Salesperson = #RM.Salesperson and rev.Area = #RM.Area
	where #RM.Date >= (select SystemDate from sp1500)

	--ER
	select Date, CompanyId, MarketSegment, SourceCode,Salesperson, Area, SUM(Total) as Total
	into #ER
	from #ServiceTotal
	where isnull(ServiceId,'') in (select value from string_split(@ERRevenue,','))
	group by Date, CompanyId, Company, MarketSegment, SourceCode,
	Salesperson, Area

	update #ER set #ER.Total = #ER.Total - rev.Total
	from #ER inner join (select #ServiceTotal.Date, CompanyId, MarketSegment, SourceCode,Salesperson, Area, SUM(#ServiceTotal.Total) as Total
	from #ServiceTotal
	where isnull(ServiceId,'') in (select value from string_split(@ERRevenue,',')) and IsAvailability = 0
	group by Date, CompanyId, Company, MarketSegment, SourceCode,
	Salesperson, Area) rev on rev.Date = #ER.Date and rev.CompanyId = #ER.CompanyId and rev.MarketSegment = #ER.MarketSegment and rev.SourceCode = #ER.SourceCode and rev.Salesperson = #ER.Salesperson and rev.Area = #ER.Area
	where #ER.Date >= (select SystemDate from sp1500)

	--EB
	select Date, CompanyId, MarketSegment, SourceCode,Salesperson, Area, SUM(Total) as Total
	into #EB
	from #ServiceTotal
	where isnull(ServiceId,'') = 'EB'
	group by Date, CompanyId, MarketSegment, SourceCode,
	Salesperson, Area

	--Room Night
	select Date, CompanyId, MarketSegment, SourceCode,Salesperson, Area, count(*) as Total
	into #RN
	from #ServiceTotal
	where isnull(ServiceId,'') = 'RM' and IsRoomNight = 1 and IsAvailability = 1
	group by Date, CompanyId, MarketSegment, SourceCode,
	Salesperson, Area

	--No of Room
	select Date, CompanyId, MarketSegment, SourceCode,Salesperson, Area,count(distinct RentalRoomId) as Total
	into #NOR
	from (select distinct Max(Date) as Date, CompanyId, MarketSegment, SourceCode,Salesperson, Area, RentalRoomId
		  from #ServiceTotal
		  where isnull(ServiceId,'') = 'RM' and IsRoomNight = 1 and IsAvailability = 1
		  group by CompanyId, MarketSegment, SourceCode,
		  Salesperson, Area, RentalRoomId
		  ) A 
	left join SP2100 pt on pt.Ma = A.RentalRoomId
	group by A.Date, CompanyId, MarketSegment, SourceCode,Salesperson, Area

	--Guest Night
	select Date, CompanyId, MarketSegment, SourceCode,
	Salesperson, Area, SUM(ptk.Adult) as Total
	into #GN
	from #ServiceTotal sale
	inner join (select RentalRoomId, count(*) as Adult from sp2200 group by RentalRoomId) ptk on ptk.RentalRoomId = sale.RentalRoomId
	where ServiceId = 'RM' and IsRoomNight = 1 and IsAvailability = 1
	group by Date, CompanyId, MarketSegment, SourceCode,
	Salesperson, Area

	--No of Guest
	Select Max(Date) as Date, CompanyId, MarketSegment, SourceCode,Salesperson, Area,SUM(ptk.Adult) as Total
	into #NOG
	from (select distinct Max(Date) as Date, CompanyId, MarketSegment, SourceCode,Salesperson, Area, RentalRoomId
		  from #ServiceTotal
		  where isnull(ServiceId,'') = 'RM' and IsRoomNight = 1 and IsAvailability = 1
		  group by CompanyId, MarketSegment, SourceCode,
		  Salesperson, Area, RentalRoomId
		  ) A 
	inner join (select RentalRoomId, count(*) as Adult from sp2200 group by RentalRoomId) ptk on ptk.RentalRoomId = A.RentalRoomId
	group by CompanyId, MarketSegment, SourceCode,Salesperson, Area

	--sp_148 '2023/04/01','2023/04/01',1

	select total.Date, total.CompanyId, total.Company, total.MarketSegment, total.SourceCode,
		total.Salesperson as UserSale, total.Area, 0 as NumOfRoom,
		0 as RoomNight, 0 as HU, 0 as FOC,
		0 as GuestNight, cast(0 as decimal) as RM, cast(0 as decimal) as EB, cast(0 as decimal) as ER, 
		0 as NumOdGuest
	into #Revenue
	from #ServiceTotal total
	group by total.Date, total.CompanyId, total.Company, total.MarketSegment, total.SourceCode,
			total.Salesperson, total.Area


	update #Revenue set RoomNight = #RN.Total
	from #RN
	where #RN.Date = #Revenue.Date and
		  #RN.CompanyId = #Revenue.CompanyId and
		  #RN.MarketSegment = #Revenue.MarketSegment and
		  #RN.SourceCode = #Revenue.SourceCode and
		  #RN.Salesperson = #Revenue.UserSale and
		  #RN.Area = #Revenue.Area
	
	update #Revenue set NumOfRoom = #NOR.Total
	from #NOR
	where #NOR.Date = #Revenue.Date and
		  #NOR.CompanyId = #Revenue.CompanyId and
		  #NOR.MarketSegment = #Revenue.MarketSegment and
		  #NOR.SourceCode = #Revenue.SourceCode and
		  #NOR.Salesperson = #Revenue.UserSale and
		  #NOR.Area = #Revenue.Area

	update #Revenue set HU = #HU.Total
	from #HU
	where #HU.Date = #Revenue.Date and
		  #HU.CompanyId = #Revenue.CompanyId and
		  #HU.MarketSegment = #Revenue.MarketSegment and
		  #HU.SourceCode = #Revenue.SourceCode and
		  #HU.Salesperson = #Revenue.UserSale and
		  #HU.Area = #Revenue.Area

	update #Revenue set FOC = #FOC.Total
	from #FOC
	where #FOC.Date = #Revenue.Date and
		  #FOC.CompanyId = #Revenue.CompanyId and
		  #FOC.MarketSegment = #Revenue.MarketSegment and
		  #FOC.SourceCode = #Revenue.SourceCode and
		  #FOC.Salesperson = #Revenue.UserSale and
		  #FOC.Area = #Revenue.Area
	
	update #Revenue set GuestNight = #GN.Total
	from #GN
	where #GN.Date = #Revenue.Date and
		  #GN.CompanyId = #Revenue.CompanyId and
		  #GN.MarketSegment = #Revenue.MarketSegment and
		  #GN.SourceCode = #Revenue.SourceCode and
		  #GN.Salesperson = #Revenue.UserSale and
		  #GN.Area = #Revenue.Area

	update #Revenue set RM = #RM.Total
	from #RM
	where #RM.Date = #Revenue.Date and
		  #RM.CompanyId = #Revenue.CompanyId and
		  #RM.MarketSegment = #Revenue.MarketSegment and
		  #RM.SourceCode = #Revenue.SourceCode and
		  #RM.Salesperson = #Revenue.UserSale and
		  #RM.Area = #Revenue.Area

	update #Revenue set EB = #EB.Total
	from #EB
	where #EB.Date = #Revenue.Date and
		  #EB.CompanyId = #Revenue.CompanyId and
		  #EB.MarketSegment = #Revenue.MarketSegment and
		  #EB.SourceCode = #Revenue.SourceCode and
		  #EB.Salesperson = #Revenue.UserSale and
		  #EB.Area = #Revenue.Area

	update #Revenue set ER = #ER.Total
	from #ER
	where #ER.Date = #Revenue.Date and
		  #ER.CompanyId = #Revenue.CompanyId and
		  #ER.MarketSegment = #Revenue.MarketSegment and
		  #ER.SourceCode = #Revenue.SourceCode and
		  #ER.Salesperson = #Revenue.UserSale and
		  #ER.Area = #Revenue.Area

	update #Revenue set NumOdGuest = #NOG.Total
	from #NOG	
	where #NOG.Date = #Revenue.Date and
		  #NOG.CompanyId = #Revenue.CompanyId and
		  #NOG.MarketSegment = #Revenue.MarketSegment and
		  #NOG.SourceCode = #Revenue.SourceCode and
		  #NOG.Salesperson = #Revenue.UserSale and
		  #NOG.Area = #Revenue.Area


		--select * from #Revenue

	
	declare @sumRAV decimal(18,4) = isnull((select sum(RAV) from (select distinct Date, RAV from #temp)a),0)
	declare @sumRV decimal(18,4) = isnull((select sum(RM + ER) from #Revenue),0)

	if @IsTuongLai = 0
	begin
		delete SP7000 where Date between @From and @To

		insert into SP7000([Date],[CompanyId],[Company],[MarketSegment],[SourceCode],[UserSale],[Area],[NumOfRoom],[RoomNight],[FOC],[HU],[GuestNight],[RM],[EB],[ER],[NumOdGuest],[Revenue],[PerRoomNight],[PerRevenue],[AVGRevenue],[RAV],[RAV3])
		select *, RM  + ER Revenue, 
		cast( (RoomNight/(case when @sumRAV = 0 then 1 else @sumRAV end) )*100.00 as decimal(18,4)) as PerRoomNight, 
		cast(((RM + ER)/(case when @sumRV = 0 then 1 else @sumRV end))*100 as decimal(18,4)) as PerRevenue, 
		case when (RoomNight - HU) != 0 then (case when @averageRoomRateIncludedOthersRoomRevenue = '1' then (RM + ER) else RM end) / (RoomNight - HU) else 0 end AVGRevenue, 
		(select Sum(RAV) from #temp where Date = #Revenue.Date) RAV, @sumRAV RAV3
		from #Revenue
	end
	else
	begin
		select *, RM + ER Revenue, 
		cast((RoomNight/ (case when @sumRAV = 0 then 1 else @sumRAV end))*100.00 as decimal(18,4)) as PerRoomNight, 
		cast(((RM + ER)/(case when @sumRV = 0 then 1 else @sumRV end))*100 as decimal(18,4)) as PerRevenue, 
		 case when (RoomNight - HU) != 0 then (case when @averageRoomRateIncludedOthersRoomRevenue = '1' then (RM + ER) else RM end) / (RoomNight - HU) else 0 end AVGRevenue, 
		 (select Sum(RAV) from #temp where Date = #Revenue.Date) RAV, @sumRAV RAV3
		from #Revenue
		order by CompanyId
	end

	drop table #ServiceTotal
	drop table #Revenue
	drop table #temp
	drop table #RN
	drop table #RM
	drop table #EB
	drop table #ER
	drop table #HU
	drop table #FOC
	--drop table #Sale
end

