USE [ProVistaGalliot20260708]
GO
/****** Object:  StoredProcedure [dbo].[sp_199]    Script Date: 31/07/2026 11:16:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_199]
	
	@FromDate date
 as
BEGIN

	declare @SystemDate date
	select @SystemDate=SystemDate from SP1500

	select RentalRoomId, count(CustomerId) as Adult, ArrivalDate, CheckoutDate, Status 
	into #tempGuest
	from SP2200
	where ArrivalDate <= @FromDate and CheckoutDate >= @FromDate
	group by RentalRoomId,ArrivalDate, CheckoutDate, Status

	if @FromDate < @SystemDate
	BEGIN
		select RentalRoomId, sum (distinct Adult) Adult
		into #tempGuest2
		from #tempGuest
		where status in (1,2,100) and ArrivalDate < CheckoutDate and @FromDate between ArrivalDate and CheckoutDate - 1 
		group by RentalRoomId

		select vw.RentalRoomId, vw.CustomerId, vw.Status, vw.CheckoutDate, vw.CheckoutTime, vw.PositionId, vw.UserCheckin, vw.UserCheckout, 
        vw.Breakfast, vw.Position, vw.Guest, vw.Note, vw.Country, vw.Nationality, vw.NationalityName, vw.Passport, vw.Birthday, vw.GuestName, 
		vw.Address, vw.Phone, vw.Fax, vw.Email, vw.IssueDate, vw.Visa, vw.VisaDate, vw.BookingId, vw.ArrivalDate, vw.ArrivalTime, 
		vw.NumOfDays, vw.Room, guest.Adult as Adult, 
		vw.Child, vw.ExtraBed, isnull(lst.Total, vw.Rate) Rate, 
		isnull(lst.RoomRateCode, vw.RoomRateCode) RoomRateCode, vw.BreakfastRoom, vw.BreakfastChild, 
		vw.RoomKind, vw.RoomType, vw.DepartureDate, vw.BookingName, vw.Contact, vw.Company, vw.CompanyId, vw.GroupStatus, vw.Orders, 
		vw.HouseUse, vw.Pack3, ISNULL(vw.GuestType,6) as GuestType, vw.DayUse, cast(vw.BabyCot as int) as BabyCot, vw.Gender into #tmp2 
		from vw_042 vw
		left join #tempGuest2 guest on guest.RentalRoomId = vw.RentalRoomId
		left join (select RentalRoomId,RoomRateCode,Sum(Total) as Total from dbo.func_053 (@FromDate,@FromDate) 
						where ServiceId = 'RM'
						group by RentalRoomId,RoomRateCode) as lst on lst.RentalRoomId = vw.RentalRoomId
		where vw.Status in (1,2,100) and vw.Room not like '0%%'
		and (@FromDate between vw.ArrivalDate and vw.CheckoutDate-1)
		or (@FromDate between vw.ArrivalDate and vw.CheckoutDate and
		vw.ArrivalDate=vw.CheckoutDate and vw.NumOfDays<>0)
		and vw.ArrivalDate < vw.CheckoutDate

		insert into SP7001	select @FromDate as Date,* from #tmp2
		
		select RentalRoomId, sum (distinct Adult) Adult
		into #tempGuest3
		from #tempGuest
		where status =2 and ArrivalDate = CheckoutDate and @FromDate = ArrivalDate
		group by RentalRoomId

		select vw.RentalRoomId, vw.CustomerId, vw.Status, vw.CheckoutDate, vw.CheckoutTime, vw.PositionId, vw.UserCheckin, vw.UserCheckout, 
		vw.Breakfast, vw.Position, vw.Guest, vw.Note, vw.Country, vw.Nationality, vw.NationalityName, vw.Passport, vw.Birthday, vw.GuestName, vw.Address, 
		vw.Phone, vw.Fax, vw.Email, vw.IssueDate, vw.Visa, vw.VisaDate, vw.BookingId, vw.ArrivalDate, vw.ArrivalTime, vw.NumOfDays, vw.Room, 
		guest.Adult as Adult, vw.Child, vw.ExtraBed, vw.Rate, 
		case when ptmgp.RentalRoomId is null then vw.RoomRateCode else ptmgp.RoomRateCode end as RoomRateCode, 
		vw.BreakfastRoom, vw.BreakfastChild, vw.RoomKind, vw.RoomType, vw.DepartureDate, 
		vw.BookingName, vw.Contact, vw.Company, vw.CompanyId, vw.GroupStatus, vw.Orders, vw.HouseUse, vw.Pack3, 
		ISNULL(vw.GuestType,6) as GuestType, vw.DayUse, cast(vw.BabyCot as int) as BabyCot, vw.Gender into #tmp3 
		from vw_042 vw
		left join #tempGuest3 guest on guest.RentalRoomId = vw.RentalRoomId
		left join (select * from SP2104 where @FromDate between FromDate and ToDate) ptmgp on vw.RentalRoomId = ptmgp.RentalRoomId
		where vw.Status in (2) and vw.Room not like '0%%' and vw.DayUse = 1
		and (@FromDate between vw.ArrivalDate and vw.CheckoutDate) and
		vw.ArrivalDate=vw.CheckoutDate and vw.RentalRoomId in (
				select RentalRoomId
				from (
				select Date,RentalRoomId,ServiceId,isnull(CompanyId,(select Value from SP1600 where Parameter = 'HT_CompanyDefault')) as CompanyId,
				Sum(Total) as Total 
				from dbo.func_053( @FromDate, @FromDate)
				where RentalRoomId not in (select Ma from SP2100 where Room like '0%') and  
				ServiceId in (select Data from dbo.func_061((select Value from SP1600 where Parameter = 'Revenue'),',')) 
				
				and (BillIdService is null or BillIdService in (select BillId from SP3004 where Date between  @FromDate and  @FromDate and IsRoomNight = 1))
				group by Date,RentalRoomId, ServiceId,CompanyId) thongKe
				group by CAST(MONTH(Date) AS VARCHAR(2)) + '-' + CAST(YEAR(Date) AS VARCHAR	(4)), thongKe.RentalRoomId, thongke.ServiceId,thongke.CompanyId)

		insert into SP7001	select @FromDate as Date,* from #tmp3
		
		drop table #tempGuest2
		drop table #tempGuest3
	end
	else 
	begin
		select RentalRoomId, sum (distinct Adult) Adult
		into #tempGuest1
		from #tempGuest
		where status =1 and @FromDate between ArrivalDate and CheckoutDate
		group by RentalRoomId

		select vw.RentalRoomId, vw.CustomerId, vw.Status, vw.CheckoutDate, vw.CheckoutTime, vw.PositionId, vw.UserCheckin, vw.UserCheckout, 
		vw.Breakfast, vw.Position, vw.Guest, vw.Note, vw.Country, vw.Nationality, vw.NationalityName, vw.Passport, vw.Birthday, vw.GuestName, vw.Address, 
		vw.Phone, vw.Fax, vw.Email, vw.IssueDate, vw.Visa, vw.VisaDate, vw.BookingId, vw.ArrivalDate, vw.ArrivalTime, vw.NumOfDays, vw.Room, 
		guest.Adult as Adult, 
		vw.Child, vw.ExtraBed, isnull(lst.Total, vw.Rate) Rate, isnull(lst.RoomRateCode, vw.RoomRateCode) RoomRateCode, 
		vw.BreakfastRoom, vw.BreakfastChild, vw.RoomKind, vw.RoomType, vw.DepartureDate, 
		vw.BookingName, vw.Contact, vw.Company, vw.CompanyId, vw.GroupStatus, 
		vw.Orders, vw.HouseUse, vw.Pack3, ISNULL(vw.GuestType,6) as GuestType, vw.DayUse, cast(vw.BabyCot as int) as BabyCot, vw.Gender into #tmp1 
		from vw_042 vw	
		left join #tempGuest1 guest on guest.RentalRoomId = vw.RentalRoomId
		left join (select RentalRoomId,RoomRateCode,Sum(Total) as Total from dbo.func_053 (@FromDate,@FromDate) 
						where ServiceId = 'RM'
						group by RentalRoomId,RoomRateCode) as lst on lst.RentalRoomId = vw.RentalRoomId
		where vw.Status = 1 and vw.Room not like '0%%'and @FromDate between vw.ArrivalDate and vw.CheckoutDate

		insert into SP7001	select @FromDate as Date,* from #tmp1
		
		drop table #tempGuest1
	end

	drop table #tempGuest
END


